venv/
.env
*.pyc
*.pyo
*.pyd
__pycache__/
*.log

radar_framework/tracking/__pycache__/
radar_framework/tracking/core/__pycache__/
radar_framework/tracking/manager/__pycache__/
radar_framework/tracking/scheduler/__pycache__/

radar_framework/radar/AESA/__pycache__
radar_framework/radar/AESA/core/__pycache__

.idea/
.DS_Store
